In [1]:
import pandas as pd
from influxdb import DataFrameClient

In [2]:
user = 'root'
password = 'root'
host='influxdb' #172.28.1.2 #localhost #3.14.5.146 - kozos osztaly InfluxDB szerver
port=8086
dbname='base' #az en adatbazis nevem
protocol = 'line' #json
client = DataFrameClient(host, port, user, password, dbname)

In [3]:
client.query('show databases')

ResultSet({'('databases', None)': [{'name': '_internal'}, {'name': 'base'}]})

In [64]:
client.drop_database(dbname)
client.drop_retention_policy(dbname)
client.create_database(dbname)
client.create_retention_policy(dbname, 'INF', 1, default=True)

In [4]:
!pip install xlrd

WARNING: The directory '/home/jovyan/.cache/pip' or its parent directory is not owned or is not writable by the current user. The cache has been disabled. Check the permissions and owner of that directory. If executing pip with sudo, you may want sudo's -H flag.
Requirement already satisfied: xlrd in /opt/conda/lib/python3.7/site-packages (1.2.0)

In [22]:
df = pd.read_excel('revenues_employees_stocks.xlsx', sheet_name="Employees+Revenue").set_index('Year')

In [23]:
df

     Employees Revenue       Stock     Company
Year
2005    345000  118647   40.059066  Volkswagen
2006    324900  131744   70.826993  Volkswagen
2007    329300  149265  136.180877  Volkswagen
2008    369900  167446   53.699541  Volkswagen
2009    368500  146694   87.930704  Volkswagen
...        ...     ...         ...         ...
2015    138910  103514   20.990000      Nissan
2016    142925  101173   20.000000      Nissan
2017    149388  108996   19.900000      Nissan
2018    152421  107561   15.940000      Nissan
2019    160530  104168   11.570000      Nissan

[147 rows x 4 columns]

In [25]:
df.index=pd.to_datetime(df.index)
df['Employees']=df['Employees'].astype(int)
df['Revenue']=df['Revenue'].astype(int)
df['Stock']=df['Stock'].astype(float)
client.write_points(df, 'tesztlori', protocol=protocol,
                   field_columns=['Employees', 'Revenue', 'Stock'],
                   tag_columns=['Company'])

ValueError: could not convert string to float: '48 817\xa0'